In [ ]:
# user defined

# block of statements to perform particular task

# code reusebulity

# time will save

# syntax
# def functionname(arguments/parameters):
    #statements
# calling function 

#functionname(arguments/parameters)

In [ ]:
# with arguments with returntype
#without arguments with return type
#without arguments without return type
# with arguments without returntype

# required argument/positional argument

# keyword argument

# default argument

# variablelength argument

In [ ]:
def sample():
    pass
print('pythonworkshop')

In [2]:
# with arguments with returntype
def add():
    a=10
    b=20
    return a+b
add()

30

In [1]:
#without arguments with return type
def sub():
    a=20
    b=30
    return a-b
sub()

-10

In [3]:
#without arguments without return type
def mul():
    n=10
    m=20
    print('Multiplication of %d * %d = %d'%(n,m,n*m))
mul()

Multiplication of 10 * 20=200

In [4]:
# with arguments without returntype

def div(p,q):
    print(p/q)
div(10,20)

0.5

In [5]:
def sum1(a,b):
    return 'sum of a %d + %d = %d'%(a,b,a+b)
a=int(input('enter value'))
b=int(input('enter value'))
sum1(a,b)

enter value100
enter value400

'sum of a 100 + 400 = 500'

In [10]:
# required argument/positional argument
def interest(p,t,r):
    total=p*t*r/100
    return total
p=int(input('enter principle amt:- '))
t=float(input('enter time:- '))
r=float(input('enter rate:- '))
interest(p,t,r,q)

enter principle amt:- 100
enter time:- 1
enter rate:- 1

1.0

In [12]:
# Keyword argument
def simple(p,t,r):
    total=p*t*r/100
    return total
p=int(input('enter principle amt:- '))
t=float(input('enter time:- '))
r=float(input('enter rate:- '))
simple(t=2.0,r=1.50,p=10000)# static
simple(t=t,r=r,p=p)# dynamic

300.0

In [14]:
# default argument
def simple1(p=1000,t=2.0,r=3.0):
    print(p*t*r/100)
#simple1()
simple1(p=2000)

120.0

In [24]:
# variable length argument
def var_sum(*a):
    s=0
    for i in a:
        s+=i
    print(s)
var_sum(1,2,3,4,5,6)

21

In [138]:
print("choose operation.")
print("1.add")
print("2.sub")
print("3.mul")
print("4.div")
print("5.mod")
print("6.powe")
print("7.floor div")
 num1=int(input("enter first number"))
    num2=int(input("enter second number"))
    choice=int(input("enter your choice" 1/2/3/4/5/6/7")
def add(num1,num2):
    print('addition of %d + %d = %d'%(num1,num2,num+num2))                 
def sub(num1,num2):
    print('subtraction of %d - %d = %d'%(num1,num2,num-num2))                 
def mul(num1,num2):                 
    print('multiplication of %d * %d = %d'%(num1,num2,num*num2))                 
def div(num1,num2):                 
    print('multiplication of %d / %d = %d'%(num1,num2,num/num2))                 
def mod(num1,num2):
    print('multiplication of %d % %d = %d'%(num1,num2,num%num2))                 
def power(num1,num2): 
    print('multiplication of %d ** %d = %d'%(num1,num2,num**num2))                 
def floor div(num1,num2): 
    print('multiplication of %d // %d = %d'%(num1,num2,num//num2))
if choice == 1:
    add(num1,num2)
elif choice == 2:
    sub(num1,num2)
elif choice ==3:
    mul(num1,num2)
elif choice == 4:
    div(num1,num2)
elif choice ==5:
    mod(num1,num2)
elif choice ==6:
     power(num1,num2)
elif choice ==7:
     floor div(num1,num2)
else:
    print("Invalid choice")

IndentationError: unexpected indent (<ipython-input-138-8ed98223750f>, line 9)

In [10]:
# strings
"""
-->collection of character is called string
-->Group of characters is called a string
-->in python string representation is '' or "" or """"""
--->In python string immutable
--->in python string is indexed value based
--->string supports slicing operatar--->':'
"""
#a=''' '''
#print(type(a))

a="welcome to python"
print(a)

#concatination of string

b='wprkshop'
print(a+b) # a+= 'hello'

# getting values

print(a[0])
print(a[1])


#forwardindex and backword index

welcome to python
welcome to pythonwprkshop
w
e

In [11]:
#forwardindex

print(a[0])
print(a[5])

'm'

In [13]:
# backword index
s="welcome to python"
print(s[-1])
print(s[-5])

n
y

In [25]:
# slicing operation-->:
name='python programming'

#print(name[:])
#print(name[0:6])
#print(name[4:6])
#print(name[::-1])
#print(name[0:17:2])
#print(name[6:7])
print(name[0:])

python programming

In [82]:
# String methods 3 ways
# by using datatype--->str
#print(dir(str))
#n=''
#print(dir(n))

#m='hello'
#print(dir(m))

p='Welcome To Apssdc'
#print(p.capitalize())

#print(p.casefold())

#print(p.swapcase())
#print(p.count('S'))
#print(p.index('p'))
#print(p.find('x'))
#print(p.center(20,'*'))
#print('My name is {0} & i am form {1}.formate('abc','xyz'))
#print(p.upper())
#print(p.lower())
#print(p.title())
#print(p.isupper())
#print(p.islower())
#print(p.startswith('w'))
#print(p.endswith('c'))
#print(p.istitle())
q='<--'
#print(q.join(p))
#print(p.isdigit())
#print(p.isalpha())
#print(p.isalnum())
#print('python\tprogramming\tworkshop'.expandtabs())
'''split
splitlines,
strip,
lstrip,
rstrip'''
#print(p.split())
#print(p.strip())
#print(p.lstrip())
print(p.rstrip())

Welcome To Apssdc

In [ ]:
# Data structures concepts
# list
# Tuple
# Dictionary
# sets

In [ ]:
# list
# list is a collection of hetrogenous data elements
# list is mutable
# list representation []
# list supports slicing--->:
# syntax
# variablename=[]

In [7]:
l1=[]
type(l1)

list

In [8]:
l1=[1,2,3,'hi','hello',10.25]
l1

[1, 2, 3, 'hi', 'hello', 10.25]

In [10]:
l2=[4,5,6,'ok']
l3=l1+l2
print(l3)

[1, 2, 3, 'hi', 'hello', 10.25, 4, 5, 6, 'ok']

In [21]:
# forward index
l3[3]
l3[6]
# backword index
l3[-1]
l3[-4]

# list slicing

l3[3:5]
l3[::-1]
l3[0:11:2]

[1, 3, 'hello', 4, 6]

In [29]:
# list methods
dir(list)

# Append
l3.append([11,12])
l3

l3.extend([13,13,15])
l3
l3[11][0]

11

In [31]:
l3.count(10)

1

In [34]:
l3.index(5)

7

In [39]:
# insert
s=['a','o']

s.insert(1,'e')
s.insert(2,'i')
s.insert(4,'u')
s

['a', 'e', 'i', 'o', 'u']

In [ ]:
# difference bitween pop,remove,delete
#pop()--->last in first out
#remove()--->value based
#del--->index value based

In [40]:
l3.pop()

15

In [42]:
l3.remove('hi')

In [43]:
l3

[1,
 2,
 3,
 'hello',
 10.25,
 4,
 5,
 6,
 'ok',
 10,
 [11, 12],
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13]

In [44]:
del l3[11]

In [45]:
l3

[1,
 2,
 3,
 'hello',
 10.25,
 4,
 5,
 6,
 'ok',
 10,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13]

In [47]:
# sort
l4=[4,7,8,1,4,9,1]
l4.sort()
l4

[1, 1, 4, 4, 7, 8, 9]

In [50]:
# Reverse
l4.sort(reverse=False)
l4.sort(reverse=True)
l4

[9, 8, 7, 4, 4, 1, 1]

In [52]:
# copy   1. =, 2. copy method
l5=l3
l5
l3

[1,
 2,
 3,
 'hello',
 10.25,
 4,
 5,
 6,
 'ok',
 10,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13]

In [55]:
l6=l3.copy()
l6

[1,
 2,
 3,
 'hello',
 10.25,
 4,
 5,
 6,
 'ok',
 10,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13]

In [56]:
l3.append(14)
l3

[1,
 2,
 3,
 'hello',
 10.25,
 4,
 5,
 6,
 'ok',
 10,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 14]

In [57]:
l6

[1,
 2,
 3,
 'hello',
 10.25,
 4,
 5,
 6,
 'ok',
 10,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13]

In [58]:
l5

[1,
 2,
 3,
 'hello',
 10.25,
 4,
 5,
 6,
 'ok',
 10,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 14]

In [59]:
l6=l3.copy()
l6

[1,
 2,
 3,
 'hello',
 10.25,
 4,
 5,
 6,
 'ok',
 10,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 15,
 [11, 12],
 13,
 13,
 14]

In [60]:
l3.clear()
l3

[]

In [61]:
l5

[]

In [62]:
l4

[9, 8, 7, 4, 4, 1, 1]

In [63]:
l4[1]=2
l4

[9, 2, 7, 4, 4, 1, 1]

In [65]:
l4[2]=3
l4

[9, 2, 3, 4, 4, 1, 1]

In [ ]:
# Tuples

# tuples is a collection of hetrogenous data elements
# tuple is immutable
# tuple representation ()
# tuples supports slicing--->:

# syntax
# variable=()

In [67]:
tup=(1,2,'welcome','workshop',45.25,4,6)
#type(tup)
tup

(1, 2, 'welcome', 'workshop', 45.25, 4, 6)

In [75]:
tup[2]
tup[5]
tup[-2]
tup[-5]

tup[0:]
tup[:]
tup[::-1]

(6, 4, 45.25, 'workshop', 'welcome', 2, 1)

In [76]:
#tuple methods
dir(tup)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [79]:
# packing & unpacking
emp=('Ao0645','abc','developer','Apssdc','ongole')
(eid,name,disg,comp,place)=emp
print(eid)
print(comp)
print(place)

Ao0645
Apssdc
ongole

In [83]:
tup

(1, 2, 'welcome', 'workshop', 45.25, 4, 6)

In [ ]:
# Dictionary
# Dictionary is a unordered collection of different data item
# in dictionary we have 2 pairs those are key & value
# key is fixed
# value be change
# dictionary representation-->{}

# syntax
# varname={key:value}

In [85]:
address={'name':'vijji','place':'ongole'}
address

{'name': 'vijji', 'place': 'ongole'}

In [86]:
address['pincode']=523001
address

{'name': 'vijji', 'place': 'ongole', 'pincode': 523001}

In [88]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [89]:
address.keys()

dict_keys(['name', 'place', 'pincode'])

In [91]:
address.values()

dict_values(['vijji', 'ongole', 523001])

In [92]:
address.items()

dict_items([('name', 'vijji'), ('place', 'ongole'), ('pincode', 523001)])

In [93]:
address.get('name')

'vijji'

In [94]:
address.popitem()

('pincode', 523001)

In [95]:
address

{'name': 'vijji', 'place': 'ongole'}

In [96]:
address.pop('place')

'ongole'

In [97]:
address

{'name': 'vijji'}

In [98]:
address2={'place':'ongole','pincode':523001,'street':'xyz'}
address2

{'place': 'ongole', 'pincode': 523001, 'street': 'xyz'}

In [100]:
address.update(address2)
address2

{'place': 'ongole', 'pincode': 523001, 'street': 'xyz'}

In [101]:
address

{'name': 'vijji', 'place': 'ongole', 'pincode': 523001, 'street': 'xyz'}

In [102]:
address['name']='vijayalakshmi'

In [104]:
address

{'name': 'vijayalakshmi',
 'place': 'ongole',
 'pincode': 523001,
 'street': 'xyz'}

In [107]:
address3=dict.fromkeys(address,'fields')
address3

{'name': 'fields', 'place': 'fields', 'pincode': 'fields', 'street': 'fields'}

In [ ]:
# set

# syntax
# var={1,2,3,4}

In [109]:
a={1,2,3,1,2,3,4,6,7,8,5}
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [111]:
b={10,11,12,13,14,15}
b

{10, 11, 12, 13, 14, 15}

In [112]:
dir(a)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [113]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15}

In [117]:
a.intersection(b)

set()

In [116]:
a.difference(b)
b.difference(a)

{10, 11, 12, 13, 14, 15}

In [119]:
a.add(9)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [121]:
a.discard(6)
a

{1, 2, 3, 4, 5, 7, 8, 9}

In [122]:
a.pop()

1

In [132]:
# List Comphesions
# written single of code

for temp in range(0,10):
    print(temp)

d=[i for i in range(0,10)]
d
list(i for i in range(0,20+1))
list(i for i in range(0,50+1) if i%2==0)
list(i for i in range(0,50+1) if i%2==1)

0
1
2
3
4
5
6
7
8
9

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [ ]:
# Regular Expressions

# Packages & Modules

In [ ]:
# Regular Expressions
# Regular Expression is nothing patterns
# in regular expressions we can impliement
# password,email,phone number validations
# \d-->matches digits
#\D--->except digits
#\W-->special symbols
#\w-->except special symbol
# we will use regular expressions we can import re module
# methods are search,findall,match
# syntax regular expression
# modulename.methodname(pattern, value or variablename)

In [140]:
import re
dir(re)

['A',
 'ASCII',
 'DEBUG',
 'DOTALL',
 'I',
 'IGNORECASE',
 'L',
 'LOCALE',
 'M',
 'MULTILINE',
 'Match',
 'Pattern',
 'RegexFlag',
 'S',
 'Scanner',
 'T',
 'TEMPLATE',
 'U',
 'UNICODE',
 'VERBOSE',
 'X',
 '_MAXCACHE',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 '_cache',
 '_compile',
 '_compile_repl',
 '_expand',
 '_locale',
 '_pickle',
 '_special_chars_map',
 '_subx',
 'compile',
 'copyreg',
 'enum',
 'error',
 'escape',
 'findall',
 'finditer',
 'fullmatch',
 'functools',
 'match',
 'purge',
 'search',
 'split',
 'sre_compile',
 'sre_parse',
 'sub',
 'subn',
 'template']

In [165]:
import re
re.search('^kn','knowldge&nonviolance')
re.search('e$','knowldge&nonviolance')
re.search('\s','knowldge & nonviolance')
re.findall('\s','knowldge & nonviolance')
re.findall('\S','knowldge & nonviolance')
re.findall('\d','12ma1a0558')

re.findall('\D','12ma1a0558') 
re.findall('\W','rama.p@apssdc.in') 
re.findall('\w','123rama_.p@apssdc.in')
# Mobileno

re.search('^[6-9][0-9]{9}$| ^[0][6-9][0-9]{9}$ | [+][9][1][6-9][0-9]{9}$','8949066789')
re.search('^[6-9][0-9]{9}$| ^[0][6-9][0-9]{9}$ | [+][9][1][6-9][0-9]{9}$','08949066789')